* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  border-bottom: 1px solid #eee;
}

li {
  margin-right: 1rem;
}

.container {
  max-width: 90rem;
  padding: 1rem;
  margin: 0 auto;
}
